
#card-container {
    background-color: #FEF7E2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #752305;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
}

.card-elements {
    /*border: 1px solid #752305;*/
    border-radius: 30px;
}

.card-elements img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 5%;
}

#card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.description {
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid;*/
    text-align: center;
}

#card .price {
    /*border: 1px solid;*/
    font-size: small;
    padding-top: 2.5%;
}

.btn {
    display: flex;
    /*border: 1px solid;*/
    margin-top: 10px;
    justify-content: center;
    padding: 10px;
}

.btn button {
    border: none;
    background-color: #FFDF7F;
    color: inherit;
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

h3 {
    font-weight: 800;
    font: size 20px;
    color: #752305;
}