
.navBar {
    background-color:  #FEF7E2;
    padding: 2%;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

.link {
    background-color: #FFDF7F;
    display: flex;
    align-items: center;
    padding: 2%;
    gap: 10px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.shop {
    text-transform: uppercase;
    font-weight: bolder;
}


